<!DOCTYPE html>
<html lang="en"><head></head>
    <style>
            body {
                text-align:center;
            }
            h1 {
                color:black;
            }
        </style>
    <body>
        <h1>Please enter a IndieGOGO website link...</h1>
        <h2>to evaluate if the campaign will be successful</h2>
        <div>
            <form action="/api/suggest" method="get">
                <label for="q">Link:</label><br>
                <input type="text" id="q" name="q" value=""><br>
            </form>
        </div>
        <h3>The link will be opened in a Chrome page, then the success of the campaign will be computed.</h3>
        </body>
    </html>
